@import '../../@theme/styles/themes';

@include nb-install-component() {
  .complaintsCountLi {
    //display: none;
  }
  .complainContainer {
  }
  /deep/ canvas {
    width: 100%;
  }
  /deep/ agm-map {
    width: 100%;
    height: nb-theme(card-height-large);
  }
  .del-button {
    margin-left: 200px !important;
  }

  .pointer {
    cursor: pointer;
  }
  .correctMarkingLabel {
    margin-left: 10px;
  }
}

.mainOptionSelect {
  color: green;
  font-weight: bold;
}
.hrOptionSelect {
  color: red;
  border: #2d8ac7 solid 1px;
}
.colorBlack {
  color: black !important;
}
